<div class=" container form col-4">
    <form>
        <h4 class="form-title">Login</h4>
        <div class="mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="text">
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>  
        <div class="mb-3">
          <br>
          <button type="submit" class=" btn btn-block btn-primary">Login</button>
        </div>
                
      </form>
    
</div>