<div class="container">
  <div class="row">
  <div class="col-6 mx-auto p-4 m-5 border-light shadow-sm">
  <h3 class="pb-3">Registration Form</h3>
  <div class="form-style">
  <form>
    <div class="form-group pb-3">    
      <input type="text" placeholder="UserName" class="form-control" id="userName" aria-describedby="emailHelp">   
    </div>
    <div class="form-group pb-3">   
      <input type="password" placeholder="Password" class="form-control" id="password">
    </div>
    <div class="d-flex align-items-center justify-content-between">
  </div>
     <div class="pb-2">
    <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Submit</button>
     </div>
  </form>
  
  </div>
  
  </div>
  </div>
  </div>
  